/* Enter your custom styles here */

.utg-fiori-hostPage .sapMPageHeader {
	background-color: transparent;
    box-shadow: none;
}

.utg-fiori-hostPage .sapMPageHeader .sapMBarContainer.sapMBarRight,
.utg-fiori-hostPage .sapMPageHeader .sapMBarContainer.sapMBarLeft {
	height: 48px;
}


/* Hide the first shell header item */
.utg-fiori-hostPage .sapUiUfdShellHeadContainer .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:first-child > span {
	display: none;
}

/* Adjust the shell header item image size */
.utg-fiori-hostPage .sapUiUfdShellHeadContainer .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep > span > img {
	margin: 0;
	width: 35px;
    height: 35px;
}

.utg-fiori-hostPage .sapUiUfdShellHeadContainer .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:hover > span {
	background-color: transparent;
}


.utg-fiori-shell {
	position: absolute;
	width: 100%;
	height: 48px;
	top: -48px;
	transition: all 0.8s;
}

.utg-fiori-shell.show {
	top: 0;
	transition: all 0.5s;
}