@import url('https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i');

.utg-fiori-formatText {
	font-weight: 400;
}

.utg-fiori-formatText .sapMText {
	font-family: 'Amaranth', sans-serif;
	color: white;
}

/* H1 */
.utg-fiori-formatText.textLevel-H1 .sapMText {
	font-size: 6vmin;
}