@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
  font-family: 'brandon';
  src: url("../../font/Brandon_bld_it-webfont.eot"); /* IE9 Compat Modes */
  src: url("../../font/Brandon_bld_it-webfont.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../../font/Brandon_bld_it-webfont.woff") format('woff'), /* Pretty Modern Browsers */
       url("../../font/Brandon_bld_it-webfont.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../../font/Brandon_bld_it-webfont.svg#BrandonGrotesqueBoldItalic") format('svg'); /* Legacy iOS */
}

.utg-fiori-formatText {
	padding: 0 3em;
}

.utg-fiori-formatText .sapMText {
	display: inline;
}

/* Color - White */
.utg-fiori-formatText.textColor-White .sapMText {
	color: #FFFFFF;
}

/* Color - Dark */
.utg-fiori-formatText.textColor-Dark .sapMText {
	color: #171717;
}

/* Level - H1 */
.utg-fiori-formatText.textLevel-H1 .sapMText {
	font-family: 'brandon';
	font-size: 8vmin;
	font-weight: 400;
}

/* Level - H2 */
.utg-fiori-formatText.textLevel-H2 .sapMText {
	font-family: 'brandon';
	font-size: 6vmin;
	font-weight: 400;
}

/* Level - H3 */
.utg-fiori-formatText.textLevel-H3 .sapMText {
	font-family: 'brandon';
	font-size: 3vmin;
	font-weight: 400;
}

.utg-fiori-formatText.textLevel-H3 img {
	height: 2.5vmin;
}

/* Level - Normal */
.utg-fiori-formatText.textLevel-Normal .sapMText {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3vmin;
}
