.utg-fiori-slideContainer {
    transition: background 800ms ease;
}

.utg-fiori-slideContainer::before {
	content: ""; 
	width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    background-image: -moz-linear-gradient(45deg, #92b967 0%, #009ec3 100%);
	background-image: -webkit-linear-gradient(45deg, #92b967 0%, #009ec3 100%);
	background-image: linear-gradient(45deg, #92b967 0%, #009ec3 100%);
    transition: opacity 800ms ease;
}

/* Red */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Red {
	background: #F44336;
}

/* Pink */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Pink {
	background: #E91E63;
}

/* Indigo */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Indigo {
	background: #3F51B5;
}

/* LightBlue */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-LightBlue {
	background: #03A9F4;
}

/* Blue */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Blue {
	background: #2196F3;
}

/* Cyan */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Cyan {
	background: #00BCD4;
}

/* Teal */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Teal {
	background: #009688;
}

/* Green */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Green {
	background: #4CAF50;
}

/* LightGreen */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-LightGreen {
	background: #8BC34A;
}

/* Lime */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Lime {
	background: #CDDC39;
}

/* Amber */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Amber {
	background: #FFC107;
}

/* Orange */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Orange {
	background: #FF9800;
}

/* BlueGray */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-BlueGray {
	background: #607D8B;
}

/* Dark */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-Dark {
	background: #171717;
}

/* GreenBlue */
.utg-fiori-slideContainer.utg-fiori-slideContainerBackground-GreenBlue::before {
	background-image: -moz-linear-gradient(45deg, #92b967 0%, #009ec3 100%); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(45deg, #92b967 0%, #009ec3 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(45deg, #92b967 0%, #009ec3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	opacity: 1;
}
